In [2]:
import pandas as pd

# Lendo os arquivos CSV da empresa
vendas_df = pd.read_csv(r'Contoso - Vendas - 2017.csv', sep=';')
produtos_df = pd.read_csv(r'Contoso - Cadastro Produtos.csv', sep=';', encoding='ISO8859-1')
lojas_df = pd.read_csv(r'D:Contoso - Lojas.csv', sep=';', encoding='ISO8859-1')
cliente_df = pd.read_csv(r'Contoso - Clientes.csv', sep=';', encoding='ISO8859-1')

# Renomeando colunas para padronizar as tabelas
produtos_df = produtos_df.rename(columns={'ÿNome do Produto': 'Nome Produto'})
lojas_df = lojas_df.rename(columns={'ÿID Loja': 'ID Loja'})
cliente_df = cliente_df.rename(columns={'ÿID Cliente': "ID Cliente"})
cliente_df = cliente_df.rename(columns={'E-mail': 'E-mail do Cliente'})


# Filtrando colunas necessárias a tabela
cliente_df = cliente_df[['ID Cliente', 'E-mail do Cliente']]
produtos_df = produtos_df[['ID Produto', 'Nome Produto']]
lojas_df = lojas_df[['ID Loja', 'Nome da Loja']]

# Associando as tabelas pela ID
vendas_df = vendas_df.merge(produtos_df, on='ID Produto')
vendas_df = vendas_df.merge(lojas_df, on='ID Loja')
vendas_df = vendas_df.merge(cliente_df, on='ID Cliente')

display(vendas_df.head())

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome Produto,Nome da Loja,E-mail do Cliente
0,1,01/01/2017,02/01/2017,1,86,981,2,6825,9,1,A. Datum Advanced Digital Camera M300 Pink,Loja Contoso Austin,rbrumfieldmy@ameblo.jp
1,880458,23/11/2017,23/11/2017,0,306,235,10,6825,8,0,Litware Home Theater System 7.1 Channel M710 B...,Loja Contoso Europe Online,rbrumfieldmy@ameblo.jp
2,191019,20/03/2017,21/03/2017,1,172,376,2,6825,9,0,Adventure Works Laptop12 M1201 Silver,Loja Contoso Hartford,rbrumfieldmy@ameblo.jp
3,18610,08/01/2017,10/01/2017,2,200,448,2,6825,48,0,WWI Desktop PC1.80 E1801 Black,Loja Contoso Catalog,rbrumfieldmy@ameblo.jp
4,287704,23/04/2017,26/04/2017,3,76,280,1,6825,10,0,Contoso Home Theater System 2.1 Channel M1210 ...,Loja Contoso Beaumont No.1,rbrumfieldmy@ameblo.jp

Abaixo, somaremos todos os elementos da coluna de quantidades vendidas, e de quantidades devolvida, após, retornaremos
ao usuário a porcentagem de produtos devolvidos em todas as lojas da tabela.

In [25]:
qnt_vendida = vendas_df['Quantidade Vendida'].sum()
qnt_devolvidas = vendas_df['Quantidade Devolvida'].sum()

print('Devoluções: {:.2%}'.format(qnt_devolvidas / qnt_vendida))

Devoluções: 1.17%

Abaixo, nós filtraremos os elementos por loja, para depois, somar os valores vendidos e devolvidos podendo assim, retornar
ao usuário a porcentagem de devolulção específica de cada loja.

In [26]:
# A variável recebe uma tabela com as informação da loja 306, no caso , loja contoso europeon line
vendas_lojas_europeonline = vendas_df[vendas_df['ID Loja'] == 306]


qnt_vend_europeon = vendas_lojas_europeonline['Quantidade Vendida'].sum()
qnt_dev_europeon = vendas_lojas_europeonline['Quantidade Devolvida'].sum()

print('Dados das lojas Contoso\nFilial Europeon Line')                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
print(f'\nDevoluções: {qnt_dev_europeon / qnt_vend_europeon:.2%}')

Dados das lojas Contoso
Filial Europeon Line

Devoluções: 1.33%

Desafio

Crie uma tabela que retorne as vendas da loja contoso europeon line, porém, não deve ser contabilidade as vendas onde
registre a devolução do produto

In [36]:
loja_306 = vendas_df[(vendas_df['ID Loja'] == 306) & (vendas_df['Quantidade Devolvida'] == 0)]

vendas_306 = loja_306['Quantidade Vendida'].sum()

display(f'Quantidade de vendas nas lojas Europeon Line: {vendas_306}')

'Quantidade de vendas nas lojas Europeon Line: 481657'