In [2]:
"""
                                Integração do Python com o Excel

                Existem duas formas básicas que será ensinada nests etápa do curso

    1. Pandas 
        * Mais usada de modo geral
        * Trata o Excel como uma base de dados
        * Faz o que quiser com o arquivo
        * Pode desfazer a estrutura do arquivo, caso queira editar

    2. OpenPyXl
        * Trata o Excel como uma planilha
        * Edita o documento como se fosse um VBA
        * Menor eficiência
        * Mantém mais a estrutura original do arquivo, mas cuidado porque não
    necessariamente tudo, então, precisa ser testado


        Abaixo será disponibilizado um arquivo .csv em que disponibilizará a tabela de preços de uma empresa e calcular seu
    imposto, precisaremos atualizar a tabela de impostos pois houve um aumento nos impostos no setor de serviços
        Faremos as alterações necessárias com ambas bibliotecas, pandas e openpyxl

"""

'\n                                Integração do Python com o Excel\n\n                Existem duas formas básicas que será ensinada nests etápa do curso\n\n    1. Pandas \n        * Mais usada de modo geral\n        * Trata o Excel como uma base de dados\n        * Faz o que quiser com o arquivo\n        * Pode desfazer a estrutura do arquivo, caso queira editar\n\n    2. OpenPyXl\n        * Trata o Excel como uma planilha\n        * Edita o documento como se fosse um VBA\n        * Menor eficiência\n        * Mantém mais a estrutura original do arquivo, mas cuidado porque não\n    necessariamente tudo, então, precisa ser testado\n\n\n        Abaixo será disponibilizado um arquivo .csv em que disponibilizará a tabela de preços de uma empresa e calcular seu\n    imposto, precisaremos atualizar a tabela de impostos pois houve um aumento nos impostos no setor de serviços\n        Faremos as alterações necessárias com ambas bibliotecas, pandas e openpyxl\n\n'

In [25]:
#                           Metododo de atualização com a utilização do Pandas

import pandas as pd 

tabela = pd.read_excel('Produtos.xlsx')

tabela.loc[tabela["Tipo"] == "Serviço", 'Multiplicador Imposto'] = 1.5

tabela["Preço Base Reais"] = tabela["Multiplicador Imposto"] * tabela["Preço Base Original"]

display(tabela)

,Produtos,Preço Base Original,Tipo,Multiplicador Imposto,Preço Base Reais
0,Tablet,999.99,Produto,1.1,1099.989
1,Pós Graduação,4500.00,Serviço,1.5,6750.000
2,Celular,899.99,Produto,1.1,989.989
3,Passagem Aérea,799.00,Serviço,1.5,1198.500
4,Computador,3000.00,Produto,1.1,3300.000
5,SPA,480.48,Serviço,1.5,720.720
6,Corte Cabelo,50.00,Serviço,1.5,75.000

In [28]:
tabela.to_excel("ProdutosPandas.xlsx", index=False)

In [39]:
#                           Metododo de atualização com a utilização do OpenPyXL

from openpyxl import Workbook, load_workbook

planilha = load_workbook("Produtos.xlsx")

aba_ativa = planilha.active

for celula in aba_ativa["C"]:
    if celula.value == "Serviço":
        linha = celula.row
        aba_ativa[f'D{linha}'] = 1.5


planilha.save("ProdutosOpenPy.xlsx")